@media screen and (max-width: 930px) {
  .hero__image {
    max-width: 250px;
  }
}
@media screen and (max-width: 768px) {
  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 2rem;
  }
  .hero__button {
    margin: 2rem;
  }

  .hero__text {
    text-align: center;
  }

  .hero__image img {
    width: 100%;
    max-width: 300px;
    align-items: center;
    justify-content: center;
  }

  .products__section {
    height: auto;
  }
  .products {
    display: flex;
    flex-direction: column;
  }
  .product {
    width: 300px;
  }
  .subscription {
    height: auto;
  }
  .subscription__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .price-plan-button {
    max-width: 20rem;
  }

  .price-plan-card {
    margin: 0.8rem;
    max-width: 100vw;
  }

  .nav__leftnav,
  .nav__rightnav {
    display: none;
    gap: 0.8rem;
    padding: 0;
  }

  .nav__item {
    flex-direction: column;
    display: none;
    padding: 0.5rem;
  }
  .nav__logo {
    display: flex;
  }
}
