:root {
  --primary-color: #1d1d1d;
  --secondary-color: #000000;
  --accent-color-low-opactiy: #2b1b08ad;
  --accent-color-lower-opactiy: #2b1b0880;
  --accent-color: #2b1b08;
  --text-color: #f8f5f2;
  --primary-font: Roboto;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;
  --default-radius: 10px;
  --font-size-sm: clamp(0.8rem, 0.8rem + 0.25vw, 0.95rem);
  --font-size-base: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
  --font-size-lg: clamp(1.1rem, 1rem + 0.6vw, 1.5rem);
  --font-size-xl: clamp(1.3rem, 1.2rem + 1vw, 2rem);
  --font-size-xxl: clamp(1.8rem, 1.5rem + 2vw, 2.5rem);
}

html {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}
body {
  background-image: url(../../media/VietnamFarms.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
header {
  position: sticky;
  top: 0;
  margin-bottom: var(--space-md);
}
section {
  padding: var(--space-md);
  min-height: 100svh;
  min-width: 100svw;
}
.main {
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: center;
  padding: var(--space-sm);
}

.sectionTopText {
  color: white;
  font-size: var(--font-size-xxl);
  text-align: center;
}
.hero__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  max-width: 100%;
  align-content: flex-start;
  gap: var(--space-xl);
  background: linear-gradient(
    0deg,
    var(--accent-color) 0%,
    rgba(0, 0, 0, 0) 12%
  );
}
.hero__text {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xl);
  color: var(--secondary-color);
  text-align: center;
  text-shadow: var(--accent-color) 3px 3px 6px;
  height: fit-content;
}

.hero__button {
  display: block;
  padding: 1.6rem 1rem;
  background-color: var(--primary-color);
  font-size: var(--font-size-xl);
  font-weight: bold;
  letter-spacing: 0.3rem;
  border-radius: var(--default-radius);
  transition:
    background-color 0.4s ease,
    transform 0.4s ease;
  color: var(--text-color);
  text-shadow: var(--accent-color) 4px 4px 6px;
}

.hero__button:hover {
  background-color: var(--accent-color);
  transform: translateY(-3px);
  cursor: pointer;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../media/Bag.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.products__content {
  display: flex;
  width: 100%;
  gap: var(--space-xl);
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  margin: auto 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: var(--default-radius);
  padding: var(--space-md);
  border: 2px black solid;
  background-color: var(--accent-color-low-opactiy);
  /* -webkit-overflow-scrolling: touch; */
}
.products__content::-webkit-scrollbar {
  display: none;
}

.product {
  flex: 0 0 auto;
  cursor: pointer;
  text-align: center;
  scroll-snap-align: center;
  transition: transform 0.3s ease-out;
  user-select: none;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}

.product:hover {
  transform: scale(1.03);
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../../media/Storage.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.plans__content {
  display: flex;
  gap: var(--space-sm);
  justify-content: space-evenly;
  scroll-snap-type: x mandatory;
  border-radius: var(--default-radius);
  margin: auto 0;
  width: 100%;
  height: auto;
  padding: var(--space-sm);
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: var(--accent-color-lower-opactiy);
  border: 2px black solid;
}
.plans__content::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.price-plan-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  flex: 0 0 330px;
  padding: var(--space-lg);
  background: linear-gradient(
    0deg,
    var(--accent-color-low-opactiy),
    var(--primary-color)
  );
  border-radius: var(--default-radius);

  border: 1px solid black;
}

h3 {
  color: var(--text-color);
}

.price-plan-title {
  font-size: var(--font-size-xl);
  color: var(--text-color);
  margin-bottom: var(--space-sm);
}

.price-plan-price {
  line-height: var(--space-xl);
  font-size: var(--font-size-xxl);
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
}

.price-plan-button {
  padding: var(--space-md);
  margin: var(--space-md);
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: var(--text-color);
  background: linear-gradient(
    180deg,
    var(--accent-color),
    var(--primary-color)
  );
  border-radius: var(--default-radius);
  cursor: pointer;
  width: 100%;
}

.price-plan-description {
  font-size: var(--font-size-sm);
  color: var(--text-color);
  margin-bottom: 2rem;
}

.price-plan-features {
  line-height: clamp(1.6rem, 1.6vw, 2.6rem);
  font-size: var(--font-size-base);
  color: var(--text-color);
  align-self: flex-start;
}

.aboutus {
  display: flex;
  flex-direction: column;
  background: url(../../media/RawCoffee.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.aboutus__content {
  display: flex;
  font-size: var(--font-size-base);
  height: max-content;
  line-height: 1.6em;
  margin: auto 0;
  padding: 2rem;
  color: white;
  border: 2px solid black;
  background-color: var(--accent-color-low-opactiy);
  border-radius: var(--default-radius);
}
